.main-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    
}

.results-list {
    box-sizing: border-box;
    border: 3px solid rgb(134, 36, 36);
    width: 50vw;
    margin: 15px;
}

.found-series {
    box-sizing: border-box;
    border: 3px solid #666;
    display: flex;
    flex-wrap: wrap;
}

.serie-card {
    background-color: darksalmon;
    margin: 3px;
    color: maroon;
    border-radius: 10px;
    padding: 5px;
}

.favourite-serie {
    background-color: maroon;
    margin: 3px;
    color:  darksalmon;
    border-radius: 10px;
    padding: 5px;
}

.js-favourite-serie-card {
    list-style: none;
    padding: 0;
}

.favourite-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.favourite-img {
    height: 100px;
    width: 70px;
    border-radius: 10px;
}
