.main-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    
}

.results-list {
    box-sizing: border-box;
    border: 3px solid rgb(134, 36, 36);
    width: 50vw;
    margin: 15px;
}

.serie-card {
    box-sizing: border-box;
    border: 3px solid #666;
    display: flex;
    flex-wrap: wrap;
}